PORT=3000
# --- CONFIGURATION BLINK ---
BLINK_USERNAME=
BLINK_API_KEY=
BLINK_WALLET_ID=
# --- CONFIGURATION AFRIPAY---
AFRIPAY_API_URL=
AFRIPAY_APP_ID=
AFRIPAY_APP_SECRET=
AFRIPAY_CURRENCY=
AFRIPAY_ACCESS_TOKEN=